---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import type { Product } from "../types/Product";

const res = await fetch("https://fakestoreapi.com/products");
const products: Product[] = await res.json();
---

<Layout>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 max-w-6xl mx-auto p-6 bg-gray-100"
  >
    {products.map((product) => (
      <Card product={product} />
    ))}
  </div>
</Layout> 
