---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Tienda Online</title>
	</head>
	<body>
		<slot />
	</body>
</html>

